* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Electrolize', sans-serif;
}

body {
    background-color: rgb(31, 31, 31);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.search-form h2 {
    color: rgb(1, 216, 1);
    text-transform: capitalize;
    padding: 50px 0 30px 0;
}

.form-input {
    color: rgb(1, 216, 1);
    background-color: rgb(31, 31, 31);
    border: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(1, 216, 1);
    outline: none;
}

.form-input:focus {
    border: 1px solid rgb(1, 216, 1);
}

.btn-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-container button {
    padding: 3px 6px;
    text-transform: capitalize;
    background-color: rgb(14, 14, 14);
    color: white;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

.stories {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    color: rgb(1, 216, 1);
}

.story {
    background-color: #535254;
    padding: 10px 20px;
}

.read-link {
    color: #71c16b;
    text-decoration: none;
}

.remove-btn {
    color: #eb6026;
    background-color: #535254;
    border: none;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.story-links {
    margin-top: 30px;
}

.info {
    display: none;
}